.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-between;


}

.share-icon{
    width: 25px;
  }
  .share-btn{
    background-color: black;
    color:white;
    border-radius: 3px;
    
  }

.newsfeed{
    padding: 10px 20px 0 10px;
    margin-top: 70px;
    background-color: white;
     

}

.image{
    max-width: 600px;
}

.image-item{
    justify-content: center;
    max-width: 700px;
    
}

.headingg{
    margin-left: 50px;
}

.list-no{
    letter-spacing: 1.5px;
    word-spacing: 3px;
    color: gray;
}
