body {
    background-image: url("bg.png");
    background-size: cover;  
    background-position: center; 
    padding: 0;
    margin: 0;
    height: 100vh; 
}

.textArea {
    max-width: 700px;  
    min-width: 400px;  
}

.left-side {
    margin-top: 30px;
    position: sticky;
    top: 20px; /* Adjust as needed */
    display: grid;
    width: 200px;
    height: calc(100vh - 50px); /* Adjust according to your layout */
    background-color: #F0F0FF;
    border: 1px solid black;
    margin-left: 5px;
    padding: 5px;
    overflow-y: auto; /* Add scroll when content exceeds height */
}

.index-list {
    list-style-type: none;
    padding: 0;
}

.index-link {
    color: #1d2855;
    text-decoration: none;
}

.index-link:hover {
    color: #ff0000; /* Change color on hover as needed */
}

.toggle-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 999;
    text-align: center;
    margin-top: -20px;
    height: 30px;
}

@media only screen and (max-width: 768px) {
    /* Hide the sidebar by default on smaller screens */
    .left-side {
        display: none;
    }
    
    /* Show the sidebar when it's toggled */
    .left-side.show {
        display: grid;
    }
}
