body{
    background-size: cover;
    object-fit: contain;
    justify-content: center;
    height: auto;
    background-image: url("poembg.jpg");
}
.textArea{
    max-width: 700px;
    min-width: 700px;
}
