.navbar {
    display: flex;
    justify-content: center; /* Horizontally center align items */
    align-items: center; /* Vertically center align items */
    position: fixed;
    width: 100%; /* Ensure the nav spans the entire width */
    z-index: 50;
    background-color: #ffffff; /* Example background color */
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -9px;
    box-shadow: -4px 0px 5px;
}

.navbar a {
    margin: 0 10px; /* Add spacing between the links */
    text-decoration: none;
    font-family: "Basic", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1a76d1; /* Example link color */

}

.navbar a {
    margin: 0 10px; /* Adjust spacing between links as needed */
    color: rgb(54, 54, 54);
    font-size: 18px;
    text-decoration: none; /* Remove default underline */
}



.navbar a:active {
    color: black; /* Active link color */
}


.header {
    
    background-color: rgb(12, 41, 111);    width: 100%;
    height: 40px;
    position: fixed; 
    top: 0;
    z-index: 100;
    
}

.shahada {
    color: white;
    margin: 0;  
    padding: 10px;
    text-align: center;
    font-family: Arial;
    word-spacing: 1.3;
    font-size: 16px;
    line-height: 1.2;  
    max-width: 90%; 
    overflow: hidden;
    text-overflow: ellipsis;  
    white-space: nowrap;  
}

